#wrapper {
	border:solid blue thin;
	width:1100px;
	margin:0 auto;
}
input[type="text"] {
	width: 50px;
}
.label {
	text-decoration:underline;
	display:inline-block;
	text-align:center;
	width:130px;
}
.value {
	display: inline-block;
	text-align:center;
	width:130px;
	border:solid thin;
}
.jsvalue {
	display: inline-block;
	text-align:center;
	width:130px;
	border:solid thin;
	margin-right:4px;
}
.calculatedLabel {
	text-decoration:underline;
	display:inline-block;
	text-align:center;
	width:155px;
	color:blue;
}
.calculated {
	display:inline-block;
	text-align:center;
	width:155px;
	color:blue;
}
h1, h2 {
	margin:15px 0px 15px 10px;
}